@media (max-width: 1800px) {
    body {
        font-size: 17px !important
    }
}

@media (max-width: 1700px) {
    body {
        font-size: 16px !important
    }
}

@media (max-width: 1600px) {
    body {
        font-size: 15px !important
    }
}

@media (max-width: 1500px) {
    body {
        font-size: 14px !important
    }
}

@media (max-width: 1450px) {
    body {
        font-size: 13px !important
    }
    #contacts .info-block-btn {
        width: 13em;
    }
}

@media (max-width: 1400px) {
    body {
        font-size: 12px !important
    }

}

@media (max-width: 1350px) {
    body {
        font-size: 11.5px !important
    }
}

@media (max-width: 1300px) {
    body {
        font-size: 11px !important
    }
}

@media (max-width: 1200px) {
    body {
        font-size: 10.5px !important
    }
}

@media (max-width: 1100px) {
    body {
        font-size: 10.5px !important
    }
}

/* Small devices, tables */
@media only screen and (max-width: 1050px) {
    body {
        font-size: 3vw !important;
        overflow-x: hidden;
    }
    .container {
        width: 75%!important;
    }
    .btn-close {
        font-size: 3.5em!important;
    }
    .menu, #fixedlogo, #fixedtext, #fixedbutton, #fixedphone, .desktop, .cd-section {
        display: none;
    }

    .mobile {
        display: block;
    }

    .mobile-menu {
        position: fixed;
        left: 0;
        width: 100%;
        background: black;
        box-shadow: 0 0 5px #00EAF0; /* Параметры тени */
        z-index: 9999;
        padding-right: 1em;
    }

    .mobile-menu .fixedlogo {
        width: 50%;
        float: left;
    }

    .mobile-menu .fixedphone {
        color: white;
        border-radius: 1em;
        border: 1px solid #00EAF0;
        padding-right: 0.7em;
    }

    .fixedphone .i_bg {
        font-size: 1.5em;
        width: 1.2em;
        height: 1.2em;
        background:#00EAF0;border-radius:50%; padding:5px;
        color: #000000;
    }

    .img-90 {
        width: 90%;
    }

    .img-80 {
        width: 80%;
    }

    .img-70 {
        width: 70%;
    }

    .img-60 {
        width: 60%;
    }

    .img-50 {
        width: 50%;
    }
    .hrr {
        border-top: 0.1em solid #00EAF0;
        width: 90%;
        margin: 4em auto 1em;
    }
    /* 1-block */
    .order_2 {
        position: relative;
        text-align: center;
        background: url(../img/1-block/items/info-block.png);
        background-size: 100% 100%;
        padding: 3em 2em;
        width: 95%;
        margin: 0 auto;
        left: 0.3em;
    }
    .order_2 p {
        font-size: 1.7em;
    }
    .btn_order {
        display: block;
        width: 40%;
        margin: 0 auto;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .bl_mob {
        margin:4em 0 1.5em 1em;
        border-left: 3px solid #00EAF0;
        padding:0.5em 0 0.25em 0.5em;
        text-transform: uppercase;
    }
    .first_title_mob {
        margin:0;
        color:#00EAF0;
        font-family: Panton_bold;
        font-size: 1.4em;
        text-transform: uppercase;
    }

    .sec_title_mob {
        text-transform: uppercase;
        font-size: 1.15em;
    }

    .ramka_mob {
        width:100%;
        height:18em;
        box-shadow: 0 0 1.2em rgba(0,0,0,0.7);
    }
    .ramka_p {
        font-family: Panton_bold;
        margin: 1.5em 0;
        font-size: 1.8em;
        text-transform: uppercase;
    }
    .text-center {
        position: relative;
        text-align: center;
    }

    .close {
        font-size: 2.5em!important;
        margin: 0!important;
    }
    .main {
        padding-top: 20px;
        height: auto;
        background-image: url(../img/1-block/items/new-background.png);
        background-size: cover;
        background-position: 50% 20%;
    }
    .modal-lg {
        margin: 8em auto 2em;
        width: 80%;
    }
    .main .mob-desc-title {
        text-align: center;
        font-size: 1.8em;
        color: #00EAF0;
        font-weight: bold;
    }

    .main .mob-desc-txt1,
    .main .mob-desc-txt2 {
        text-align: center;
    }

    .main .borders {
        position: relative;
        text-align: center;
        margin-top: 6em;
        margin-bottom: 4em;
    }

    #mainCarousel .carousel-indicators {
        top: 105% !important;
        bottom: unset !important;
    }

    .main .circle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 70%;
    }

    #mainCarousel {
        height: auto !important;
        margin-left: 0 !important;
        position: relative !important;
        transform: none !important;
    }

    #mainCarousel .carousel-inner {
        padding-bottom: 3em;
    }

    .cir-1, .cir-2, .cir-3 {
        color: white;
    }

    .cir-1 {
        color: #00EAF0
    }

    .main_circle {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 60%;
        margin: 0 auto;
        transform: translate(-50%, -50%);
    }

    .text {
        position: relative;
        z-index: 1;
        height: 10em;
    }

    .main .main-cam, .main .set, .main .cond {
        width: 100%;
        position: relative;
        margin: 0 auto;
    }

    .main .info-block-mobile {
        width: 100%;
        text-align: center;
    }

    #services {
        border: none;
        background-image: url(../img/1-block/items/new-background.png);
        width: 100%;
        height: auto;
        padding-bottom: 20px;
        background-size: cover;
        background-position: 50% 20%;
    }

    .mobile-first, .mobile-second, .mobile-third {
        margin: 0 auto;
        margin-bottom: 1em;
        width: 90%;
        height: auto;
        padding-bottom: 10px;
        background-image: url('../img/3-block/items/block.png');
        background-size: cover;
        background-position: 50% 50%;
        text-align: center;
        color: white;
    }

    #services .mobile-logo {
        position: absolute;
        width: 4em;
        margin-top: -5em;
        margin-left: 0.5em;
    }
    #services .mobile-order-btn {
        width: 50%;
        margin: 0 auto;
        margin-top: 15px;
        cursor: pointer;
    }

    .main-text {
        margin-top: 20px;
        margin-left: 22px;
        border-left: 3px solid #00EAF0;
        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-bottom: 15px;
    }

    #equipment .mobile-item {
        width: 95%;
        margin: 0 auto;
        margin-bottom: 5px;
    }

    #equipment {
        background-image: url(../img/1-block/items/new-background.png);
        width: 100%;
        height: auto;
        padding-bottom: 20px;
        background-size: cover;
        background-position: 50% 20%;
        padding-bottom: 20px;
    }

    .info-block-mobile {
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }

    #about {
        background-image: url(../img/1-block/items/new-background.png);
        background-size: cover;
        background-position: 50% 20%;
        width: 100%;
        height: 100vh;
        padding-bottom: 20px;
    }

    #about .mobile-item,
    #services .mobile-item {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
    }

    #about .mobile-item .width-65,
    #services .mobile-item .width-65 {
        width: 65%;
    }

    #about .mobile-item .width-35,
    #services .mobile-item .width-35 {
        width: 35%;
    }

    #about .mobile-item .mob-text,
    #services .mobile-item .mob-text {
        padding: 0 1em!important;
        color: white;
        margin-top: -0.5em;
    }

    #about .mobile-item .mob-text-right,
    #services .mobile-item .mob-text-right {
        padding: 0 1em!important;
    }

    #about {
        height: auto;
        padding-bottom: 10px;
    }

    #about .mob-video-block {
        width: 100%;
        margin-bottom: 1.5em
    }

    #about .mob-image {
        width: 100%;
    }

    #about #mob-videott {
        display: none;
    }

    .video_mob {
        padding: 2.5em;
        background: url("../img/4-block/items/borders.png");
        background-size: 100% 100%;
    }

    .carousel {
        position: relative!important;
        margin: 0!important;
    }
   #myCarousell .carousel-control .glyphicon-chevron-left,
   #myCarousell .carousel-control .glyphicon-chevron-right,
   #myCarousell.carousel-control .icon-next,#myCarousell .carousel-control .icon-prev {
        position: absolute;
        top: 45%;
        z-index: 5;
        display: inline-block;
        margin-top: -10px;
    }
    #advantages {
        height: auto;
        padding-bottom: 20px;
        background-image: url(../img/1-block/items/new-background.png);
        background-size: cover;
        background-position: 50% 20%;
    }

    .kir-1 {
        color: #00EAF0;
    }

    .cert-item {
        width: 50%;
        margin: 0 auto;
        text-align: center;
    }

    .cert-item-2,
    .cert-item-3,
    .cert-item-4 {
        display: none;
    }

    .ul-cert {
        list-style: none;
        text-align: center;
        width: 100%;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    #license {
        background-image: url(../img/1-block/items/new-background.png);
        background-size: cover;
        background-position: 50% 20%;
        padding-bottom: 20px;
    }

    #clients {
        background-image: url(../img/1-block/items/new-background.png);
        background-size: cover;
        background-position: 50% 20%;
        padding-bottom: 20px;
        position: block;
    }

    #contacts {
        background-image: url(../img/1-block/items/new-background.png);
        background-size: cover;
        background-position: 50% 20%;
        height: auto;
        padding-bottom: 20px;
        margin-bottom: 0;
    }

    .block-mobile {
        background-image: url(../img/8-block/items/map-background.png);
        background-size: cover;
        width: 95%;
        height: auto;
        color: white;
        margin: 0 auto;
        padding: 10px;
    }
}
